<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="AuthManager" connectionString="Data Source=.;                    Initial Catalog=AuthManager-local;                    Integrated Security=True" providerName="System.Data.SqlClient" />
   <add name="GeographyEntities" connectionString="metadata=res://*/AuthManagerEntityModels.csdl|res://*/AuthManagerEntityModels.ssdl|res://*/AuthManagerEntityModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Geography;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>