
@{
    ViewData["Title"] = "403";
}

<div style="text-align:center;">
    <img src="~/images/403-acces-denied.png" />
    <h4 class="theMonkiesAteMySoul" style="color: #c0a16b">
        Go back to home page from
        <a asp-area="" asp-controller="Home" asp-action="Index">here</a>!
    </h4>
</div>