@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@*@if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }*@

<div style="text-align:center;">
    <h1 class="theMonkiesAteMySoul" style="color: #c0a16b">
        <b>Ooops...</b>
    </h1>
    <h4 class="theMonkiesAteMySoul" style="color: #c0a16b">
        <b>Something went wrong!</b>
    </h4>
    <img src="~/images/404.ico" />
    <h4 class="theMonkiesAteMySoul" style="color: #c0a16b">
        Go back to home page from
        <a asp-area="" asp-controller="Home" asp-action="Index">here</a>!
    </h4>
</div>

