body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/**/









#footer-holder {
    /*background-color: #c0a16b;*/
    text-align: center;
    padding: 100px;
    background: #132125 url(../../../assets/images/banner/binary-globe.jpg) no-repeat 0 0;
    background-size: auto auto;
    background-size: cover;
}

    #footer-holder a {
        text-decoration: none;
    }

    #footer-holder img {
        width: 3%;
    }

        #footer-holder img:hover {
            width: 4%;
        }

    #footer-holder p {
        font-family: Guildof;
        font-size: 2.7em;
        font-weight: bold;
    }