
@{
    ViewData["Title"] = "Manage";
}

<div style="text-align:center;">
    <h1 class="theMonkiesAteMySoul" style="color: #c0a16b">
        <b>Welcome back, Lyuben Kikov</b>
    </h1>
    <h4 class="theMonkiesAteMySoul" style="color: #c0a16b">
        <b>This is your personal admin page</b>
    </h4>
    <hr>
</div>

