@model RegisterEntry
@{
    ViewData["Title"] = "Register";
    bool isWrong = ViewData["WrongRegister"] != null;
}


<!-- START REGISTRATION CONTENT -->
<section id="viewRegister" style="text-align:center;">
    <h1 style="color: #c0a16b">
        <b>Register</b>
    </h1>
    <h4 style="color: #c0a16b">
        <b>Create a new account</b>
    </h4>
    <hr />
    <br>
    @if (isWrong)
    {
        <p class="alert">@ViewData["WrongRegister"]</p>
    }
    <br>
    <!-- START FORM -->
    <div class="register-form-1">
        <!-- START: register-form -->
        <div id="register-form" class="text-left">
            <div class="main-register-form">
                <form method="post">
                    <div class="form-container">
                        <!--Username-->
                        <div class="form-group">
                            <span asp-validation-for="Username" class="text-danger"></span>
                            <input type="text" placeholder="username" asp-for="Username" class="form-control">
                        </div>
                        <!--Password-->
                        <div class="form-group">
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <input type="email" placeholder="email" asp-for="Email" class="form-control">
                        </div>
                        <!--Password-->
                        <div class="form-group">
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <input type="password" placeholder="password" asp-for="Password" class="form-control">
                        </div>
                        <!--Button GO-->
                        <div class="form-group">
                            <input type="submit" class="register-button" value="GO" [disabled]="!reactiveForm.valid" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END: register-form -->
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>

    <!-- END REGISTRATION CONTENT -->
    <hr>
    <h3>
        Already have an account? Click
        <a asp-action="Login"> here!</a>
    </h3>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

