
@{
    ViewData["Title"] = "Welcome";
}
<div style="height:100px;"></div>
<div style="text-align: center;">
    <h1 class="theMonkiesAteMySoul" style="color: #c0a16b">
        <b>Welcome to ITGigs community.</b>
    </h1>
    <br>
    <h2 class="theMonkiesAteMySoul" style="color: #c0a16b">
        <b>We are happy to see you on board.</b>
    </h2>
    <br />
    <h3 class="theMonkiesAteMySoul" style="color: #c0a16b">
        <b>feel free to explore after login</b>
    </h3>
</div>
<div style="height:100px;"></div>

