@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome
        <br />  
        <br />
        to the one & only
        <br />
        <br />  
        WeatherFinder
        <br />  
        <br />
        web app
        <br />
        <br />
        Enjoy clicking around ;)
    </h1>
    <br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
