<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ProjectContext"
         connectionString="Data Source=.;
         Initial Catalog=LyubenDemoDB;
         Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>